.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 200px;
  border: none;
  cursor: pointer;

  min-width: 173px;
  min-height: 56px;

  background-color: var( --btn-primary-bg);
  color: var(--color-white);
  transition: var(--transition-speed);
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--btn-primary-hover);
}