.header_wrapper {
  background-color: var(--color-gray-100);
  border: 1px solid var(--border-default);
}

.header_container {
  display: flex;
  padding: 28px 0;
  align-items: center;
  justify-content: space-between;
}

.logo,
.header_placeholder {
  flex: 1; 
}

.header_placeholder {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
