.container {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 623px;
  background-color: var(--bg-secondary);
  padding: 16px;
  border-radius: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: var(--color-gray-200);
  color: var(--color-red-error);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-h3);

  margin: 0;
}

.rating {
  display: flex;
  gap: 4px;
}

.starFilled {
  color: var(--color-yellow);
  fill: var(--color-yellow);
}

.starEmpty {
  color: var(--color-gray-400);
  fill: var(--color-gray-400);
}

.comment {
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin: 0;
}

.noReviews {
  color: #475467;
  font-style: italic;
}
