.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 40, 0.4);
  z-index: -1;
}

.container {
  min-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 64px;
}

.content {
  max-width: 571px;
}

.title {
  color: var(--color-white);
  margin-bottom: 16px;
}

.subtitle {
  font-size: var(--fs-h2);
  line-height: 1.33;
  color: var(--color-white);
  margin-bottom: 40px;
  font-weight: var(--fw-semibold);
}

.button {
  display: inline-block;
  padding: 16px 60px;
  background-color: var(--btn-primary-bg);
  color: var(--color-white);
  border-radius: 200px;
  font-weight: var(--fw-medium);
  transition: background-color var(--transition-speed);
}

.button:hover {
  background-color: var(--btn-primary-hover);
  color: var(--color-white);
}
