.wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 64px;
}

.camper_info_card {
  width: 650px;
  border-radius: 16px;
  padding: 24px;
  background-color: var(--bg-secondary);
  margin-bottom: 16px;
  min-height: 304px;
}

.title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
  margin-bottom: 8px;
  color: var(--color-black);
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;

  line-height: 1.5;
  text-decoration: underline; 
}

.price {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
  color: var(--color-black);
  margin-top: 16px;
}


.descriptionSection {
  margin-top:24px;
}

.description {
  line-height: var(--lh-base);
  color: var(--color-gray-500);
}

.detailsGrid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  padding: 24px;

  background-color: var(--bg-secondary);
}

.featuresWrapper {
  margin-bottom: 16px;
}


.feature_badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-gray-200);
  color: var(--color-black);
}


.subTitle {
  margin-bottom: 24px;
  color: var(--color-black);
}

.divider {
  border: none;
  border-top: 1px solid var(--btn-secondary-border);
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
}

.detailsList li span:first-child {
  color: var(--color-black);
}

.detailsList li span:last-child {
  color: var(--color-black);
}

.reviews_title {
  margin-top: 88px;
  margin-bottom: 24px;
}

.bottomSection {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 64px;
}
